---
title: RPGReki's YouTube Archive 📁
long: true

tags:
- archive
- audio

permalink: /archive/youtube-archive/

redirect_from:
  - /wordpress/*/media/

excerpt: |
  I used to make Vocal Covers and Mixes.
  Vocal Covers, I've recently started doing again.
  Some videos might be blocked tough.
  Checkout my YouTube Channel: youtube.com/@RPGRekiMusic .
---

<p>
  I used to make Vocal Covers and Mixes.
  Vocal Covers, I've recently started doing again.
  Some videos might be blocked tough.
  Checkout my YouTube Channel: <a href="https://www.youtube.com/@RPGRekiMusic">RPGReki 🎶</a>.
</p>

<p>
  One little thing about copyright and YouTube:
  I do want the original rights holders to get their cut.
  But I do mean the original rights holder.
  If I do a Voice Cover of an Asian song, I don't want some random person from the West to profit from it just because my cover got matched to theirs!
  Also, the world really needs a better copyright.
  The world has changed.
  Copyright didn't.
</p>

<h2 class="mt-4">Vocal Covers and Translated Lyrics</h2>

<h3 id="mua-dong-cua-anh" class="mt-4">Mùa Đông Của Anh</h3>
<small class="mb-2">published on 2023-12-09</small>
<p class="mb-2">Winter Music</p>
{% youtube af_35_vZVq8|Bunny Boy VTuber sings Mùa Đông Của Anh %}
<!--more-->

<h3 id="byakuya-true-light" class="mt-4">白夜~True Light~</h3>
<small class="mb-2">published on 2023-10-21</small>
{% youtube N0rkieAEpfg|Bunny Boy VTuber sings 白夜~True Light~ %}

<h3 id="the-tireless-one" class="mt-4">The Tireless One</h3>
<small class="mb-2">published on 2023-10-01</small>
<p class="mb-2">The Villain Arc continues, this time it's Athena's Theme from Pandæmonium: Anabaseios 12th Circle.</p>
{% youtube oZcZhU23KJY|Bunny Boy VTuber sings The Tireless One %}

<h3 id="it-will-all-be-mine" class="mt-4">It Will All Be Mine</h3>
<small class="mb-2">published on 2023-09-22</small>
<p class="mb-2">Bunny Boy goes Villain Arc. This time it's Giovanni's Theme from PokéMon Live!</p>
{% youtube o9mMES9RDyU|Bunny Boy VTuber sings It Will All Be Mine %}

<h3 id="bao-la-tinh-chua" class="mt-4">Bao La Tình Chúa</h3>
<small class="mb-2">published on 2023-08-23</small>
{% youtube _V6VG-N7U5E|Bunny Boy VTuber sings Bao La Tình Chúa %}

<h3 id="samudrartha" class="mt-4">Samudrartha (水龙吟)</h3>
<small class="mb-2">published on 2023-08-08</small>
{% youtube 2CJykwZS3Ko|Bunny Boy VTuber sings Samudrartha (水龙吟) %}

<h3 id="emotion-thief" class="mt-4">感情泥棒 (Emotion Thief)</h3>
<small class="mb-2">published on 2023-04-30</small>
{% youtube SeNhR4mt3lU|Bunny Boy VTuber sings Emotion Thief (感情泥棒) %}

<h3 id="return-to-oblivion" class="mt-4">Return to Oblivion (Primals Version)</h3>
<small class="mb-2">published on 2023-02-17</small>
{% youtube GDeIvlMENw4|Bunny Boy VTuber sings Return to Oblivion (Primals Version) %}

<h3 id="snow-fairy-story-vn" class="mt-4">Câu Chuyện Thần Tiên Về Tuyết (Snow Fairy Story)</h3>
<small class="mb-2">published on 2016-12-23</small>
{% youtube Y3ox67YIPQw|Bunny Boy VTuber sings Câu Chuyện Thần Tiên Về Tuyết (Snow Fairy Story) %}

<h2 class="mt-4">Loops</h2>

<h3 id="pokemon-alola" class="mt-4">PokéMon: »Alola!!« — Interlude Loop (20min Mix)</h3>
<small class="mb-2">published on 2017-12-17</small>
<p class="mb-2">If I ever have need for hold music, I'd like to license this.</p>
{% youtube QpAEQ7PUs-I|PokéMon: »Alola!!« — Interlude Loop (20min Mix) %}

<h3 id="twenty-fff" class="mt-4">The World Ends with You: »Fighting for Freedom« (20min Mix)</h3>
<small class="mb-2">published on 2016-05-04</small>
{% youtube sxqnbDcjN78|The World Ends with You: »Fighting for Freedom« (20min Mix) %}

<h3 id="ragnarok-juno" class="mt-4">Ragnarök Online: »Rag All Night Long (20 min Mix)</h3>
<small class="mb-2">published on 2016-02-08</small>
{% youtube 1hgSwpPsY78|Ragnarök Online: »Rag All Night Long (20 min Mix) %}

<h3 id="ragnarok-juno" class="mt-4">Ragnarök Online: »Theme of Juno« (crafTUNER Arrangement) (20 min Mix)</h3>
<small class="mb-2">published on 2015-09-13</small>
{% youtube 2OvIA2pMMj8|Ragnarök Online: »Theme of Juno« (crafTUNER Arrangement) (20 min Mix) %}

<h3 id="ragnarok-wanna-be-free" class="mt-4">Ragnarök Online: »Wanna Be Free!!« (20 min Mix)</h3>
<small class="mb-2">published on 2015-04-27</small>
{% youtube FnDDrXYF3Ug|Ragnarök Online: »Wanna Be Free!!« (20 min Mix) %}

<h3 id="ragnarok-labyrinth" class="mt-4">Ragnarök Online: »Labyrinth« (20 min Mix)</h3>
<small class="mb-2">published on 2015-04-26</small>
{% youtube EZozHhCXL3c|Ragnarök Online: »Labyrinth« (20 min Mix) %}

<h3 id="ragnarok-al-de-baran" class="mt-4">Ragnarök Online: »Theme of Al de Baran« (20 min Mix)</h3>
<small class="mb-2">published on 2015-04-26</small>
<p class="mb-2">I'm still trying to learn to play this on guitar…</p>
{% youtube _DRyBfsne5E|Ragnarök Online: »Theme of Al de Baran« (20 min Mix) %}

